.uploadBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: dotted 1px gray;

    label {
        position: absolute;
        top: 0;
        font-size: small;
    }
    span {
        font-size: x-small;
    }
    &.dragover {
        z-index: 5;
        background-color: #3d3a3a;
    }
}

.container {

    .upload {
        position: relative;
        height: 10rem;
        >div {
            height: 100%;
        }
    }
    .preview {
        position: absolute;
        inset: 0;
        display: flex;
        z-index: -1;
        
    }
}