.cover {
    position: absolute;

    z-index: 2;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    >img {
        max-height: 20rem;
        max-width: 20rem;
        object-fit: cover;
    }
}

.hero {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: -1;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: black;
        opacity: 0.2;
        z-index: 2;
    }

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header {
    position: relative;
    height: 75vh;
}

.title {
    position: absolute;
    font-size: clamp(1rem, 3vw, 10rem);
    z-index: 5;
    translate: -50% -100%;
    text-align: center;
    color: var(--neon-green);
    text-wrap: wrap;
    padding: 1rem;
    backdrop-filter: blur(10px) grayscale(50%);
    box-shadow: 0 0 25px black;
    top: 100%;
    left: 50%;
}


@media (width > 1024px) {
    .title {
        top: 50%;
        translate: -50% -50%;
    }

    .cover {
        top: 50%;
        left: 0%;
        translate: 25% -50%;
    }
}