.toast {
    --bg: hsl(0, 6%, 13%);
    padding: 1rem 2rem;
    background-color: var(--bg);
    border: none;
    opacity: 0;
    scale: 0.9;
    top: calc(var(--idx) * 5rem);
    transition: 
        opacity 200ms ease,
        scale 200ms ease,
        top 200ms ease,
        overlay 200ms allow-discrete,
        display 200ms allow-discrete;

    >div {
        display: flex;
    }
    
    &:popover-open {
        opacity: 1;
        scale: 1;
        
        @starting-style {
            opacity: 0;
            scale: 0.9;
        }
    }

}