.miniProfile {
    background-position: center;
    background-size: cover;
    width: 15rem;
    position: relative;
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: darken;

    &.wait {
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            animation: spin infinite 2s linear;
        }
    }
    >section:first-of-type {
        display: flex;
        justify-content: space-between;
        padding-inline: 1rem;
        height: 5rem;
        align-items: center;

        img {
            height: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            box-shadow: 0 0 10px 2px black;
        }
    }

    .rank {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
            height: 100%;
        }

        span {
            color: var(--neon-green);
        }
    }
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}