.about {
    display: flex;
    > div {
        flex: 1;
    }
    @media (width < 1024px) {
        flex-direction: column;
    }
    .misc {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.25rem;
    }
    .links {
        li {
            display: flex;
            align-items: center;
            height: 2rem;

            img {
                height: 100%;
            }
        }
    }
}