.game {
    width: 100%;

    h2 {
        text-align: center;
        padding: 1rem;
        font-size: clamp(1rem, 3vw + 1rem, 2.5rem);
    }
}



.body {
    padding-top: 0.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.columns {
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    @media (width > 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.main {
    grid-column: span 2;

    @media (width > 1024px) {
        grid-column: 2 / span 2;
        grid-row: 1 / span 3
    }
}

.date {
    background-color: var(--gray1);
    box-shadow: 0 0 10px black;
    padding: 1rem;
    grid-row: span 1;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: larger;

}

.platforms,
.tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    text-align: center;
}

.platforms {
    grid-column: 1 / -1;

    >div {
        width: 10rem;
        flex-grow: 1;
    }
}

.tags {
    grid-area: 3 / 2 / 4 / 3;

    @media (width >1024px) {
        grid-area: 2 / 4 / 3 / 5;
    }

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        background-color: var(--gray1);

        flex-grow: 1;
        box-shadow: 0 0 10px black;
        position: relative;
    }

    a {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

.iframe {
    margin-top: 2rem;
    width: 100%;
    aspect-ratio: 16 / 9;

    >iframe {
        width: 100%;
        height: 100%;
    }
}


@media (width < 1024px) {
    .company {
        grid-column: span 1;
    }
}