.images {
    height: 12.5rem;
    display: flex;
    width: min(90%, 600px);
    position: relative;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    div:first-child {
        width: 10rem;
    }

    div:nth-child(2) {
        flex: 1 0;
    }

}

.preview {
    pointer-events: none;
    z-index: -1;
    position: absolute;
    height: 10rem;
    display: flex;
    width: 100%;

    div {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    >div:first-child {
        width: 10rem;
    }

    >div:nth-child(2) {
        flex: 1 0;
    }

    img {
        /* position: absolute; */
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.screenshotbox {
    height: 10rem;
    div {
        height: 100%;
    }
}

.screenshots {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.5rem;

    >div {
        aspect-ratio: 16/9;
        position: relative;
        display: flex;
        justify-content: center;

        img {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }

        button {
            all: unset;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.25rem;
            background-color: red;
        }
    }
}

.platforms {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;

    >div {
        display: flex;
        gap: 0.25rem;
    }
}