.header {
    width: 100%;
    background-color: aliceblue;
    height: 15rem;

    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: black;
    position: relative;

    @media (width > 768px) {
        display: flex;
    }

    >div {
        height: 100%;
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: clamp(1rem, 3vw, 2rem);
        
        @media (width < 768px) {
            position: absolute;
            text-align: center;
            color: var(--neon-green);
            z-index: 5;
            translate: -50% -100%;
            text-wrap: wrap;
            padding: 1rem;
            backdrop-filter: blur(10px) grayscale(50%);
            box-shadow: 0 0 25px black;
            top: 100%;
            left: 50%;
        }
    }

    img {
        max-height: 95%;

        @media (width < 768px) {
            position: absolute;
            left: 50%;
            translate: -50%;
        }
    }
}

.main {
    width: min(90%, 1200px);
    margin: 0.5rem auto;
}