.header {
    width: 100%;
    background-color: aliceblue;
    height: 15rem;

    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: black;
    position: relative;

    @media (width > 768px) {
        display: flex;
    }

    >div {
        height: 100%;
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: clamp(1rem, 2.5vw + 1rem, 2rem);
        @media (width < 768px) {
            z-index: 2;
            position: absolute;
            top: 100%;
            left: 50%;
            translate: -50% -100%;
            backdrop-filter: blur(10px);
            padding: 0.5rem;
        }
    }

    img {
        max-height: 95%;
        @media (width < 768px) {
            position: absolute;
            left: 50%;
            translate: -50%;
        }
    }
}

.main {
    width: min(90%, 1200px);
    margin: 0.5rem auto;
}