.header {
    width: 100%;
    background-color: aliceblue;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    >div {
        height: 100%;
        display: flex;
        align-items: center;
    }
    h1 {
        font-size: 2.5rem;
    }
    img {
        max-height: 95%;
    }
    color: black;
}

.main {
    width: min(90%, 1200px);
    margin: 0.5rem auto;
}
