.search {
    height: 3rem;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-color: var(--bg-clr);
    z-index: 100;

    form {
        width: 70%;
        height: 80%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;

    }

    div {
        border-radius: 5rem;
        overflow: hidden;
        display: flex;
        height: 100%;
        
        >button {
            background-color: #ffffff14;
            width: var(--icon-width);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        >input {
            all: unset;
            width: 100%;
            border: 1px solid gray;
            background-color: hsl(0, 0%, 15%);
            padding-left: 0.5rem;
        }
    }
}