.page {

}

h1, h2 {
    text-align: center;
    margin-top: 1rem;
}

.link {
    display: flex;
    width: max-content;
    padding: 0.5rem;
    &:hover {
        background-color: var(--neon-pink);

        svg {
            margin-left: 1rem;
        }
    }
    svg {
        margin-left: 0.5rem;
        transition: margin-left 200ms ease;
    }
}

.your {
    display: inline-block;
    color: var(--neon-pink);
    animation-name: home-slide;
    animation-duration: 0.5s;
    /* Duration of the animation */
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes home-slide {
    from {
        opacity: 0;
        translate: 2rem;
        
    }

    to {
        opacity: 1;
        translate: 0;
        /* End at its final position */
    }
}